body {
    font-family: Arial, sans-serif;
    background-image: url('../img/planodefundocadastro.jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
}

h1 {
    text-align: center;
    color: #f39c12;
}

.form-container {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, select {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f39c12;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #e67e22;
}
